$border-radius: 40px;
html,
body {
  ul {
    li {
      border-radius: $border-radius;
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
      -o-border-radius: $border-radius;
    }
  }
  div{
    width: 500px;
    height: 300px;
    background: url("../images/1.jpg");
  }
}
